%table-body {
    width: 90%;
    border-collapse: collapse;   
    overflow: hidden; 
    margin-bottom: 5rem; 
    @extend %glass-background;
}

%table-header-data {
    border: 1px white solid;  
    border-collapse: collapse;     
    padding: 0.2rem;
    text-align: center;
}

%glass-background {
    background: rgba( 255, 255, 255, 0.15 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 5px;
    box-shadow: 0px 2px 7px black;
    color: rgba(255, 255, 255, 0.765);
}

%flex-center {
    display: flex;
    justify-content: center;
}

%header-text {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.765);
    margin: 0.5rem 0 0 10%;
}

$offWhite: rgba(255, 255, 255, 0.765);
$darkBlueBlack: #001127;
$commonFontSize: 1.2rem;

* {
    font-family: 'Alumni Sans', sans-serif;
}

.archive-header-text { 
    font-size: 3rem;
    margin: 0 0 0 1rem;
    color: $offWhite;

    &__delete-button {
        font-size: $commonFontSize;
        margin: 0.5rem 0.5rem 0 0;
        color: black;
        height: 1.5rem;
        align-self: center;
        background-color: $offWhite;
        border: none;
        box-shadow: none;

        &:hover {
            background-color: $offWhite;
            color: black;
        }
    }
}

.form-container {
    @extend %flex-center;

    label {
        color: $offWhite;
        font-size: $commonFontSize;
    }
}

.archive-info {
    margin-top: 1rem;
    width: 80%;
    height: 5rem;
    @extend %glass-background;

    &__overall {
        @extend %flex-center;
        height: inherit;
        align-items: center;
    
        table {
            width: 100%;
            text-align: center;
        }

        th {
            font-size: 1.5rem;
            text-decoration: underline;
        }
    
        td {
            font-size: $commonFontSize;
            width: 4rem;
        }  
        
        &--over-spent {
            color: red;
        }
    }
}

.expenses {

    &__header {
        @extend %header-text;
    }
}

.budget {

    &__header {
        @extend %header-text;
    }
}

.budget-table {
    @extend %flex-center;

    &__body {
        @extend %table-body;

        th, td {
            font-size: $commonFontSize;
            @extend %table-header-data;
        } 
        
        &--over-spent {
            color: red;
        }
    }
}

.expenses-table {
    @extend %flex-center;
    
    &__body {
        @extend %table-body;

        th, td {
            font-size: $commonFontSize;
            @extend %table-header-data
        }    
    }
}

::ng-deep {

    .select-button-style {

        .p-button.p-highlight {
            background-color : $darkBlueBlack;
            border: solid 2px $darkBlueBlack;

            &:hover {
                background-color: $darkBlueBlack;
                border-color: $darkBlueBlack;
            }
        }
        .p-button {

            &:focus {
                box-shadow: none;
            }
        }
    }
}

::ng-deep {

    .popup-menu-style {
        
        &.p-confirm-popup {
            background: rgba( 33, 51, 73, 0.90 );
            border: 1px solid rgba( 255, 255, 255, 0.30 );
            box-shadow: 0px 2px 7px black;
            border-radius: 5px;
            color: white;
        }
    }

    .popup-menu-buttons {
        background-color :  $darkBlueBlack;
        border: solid 2px  $darkBlueBlack;
        
        &.p-button {
            box-shadow: none;
            &:hover {
                background-color :  $darkBlueBlack;
                border: solid 2px  $darkBlueBlack; 
            }
        }
    }
}