<h1 class="archive-header-text">Budget Archive</h1>

<div class="form-container">
    <form [formGroup]="archiveSelectionForm">
        <div class="grid grid-nogutter col-12">
            <label class="col-12" for="archiveSelect">Select Past Budget</label>
            <p-multiSelect 
                formControlName="archiveSelection"
                id="archiveSelect" 
                class="col-12" 
                [options]="dropDownOptions"
                optionLabel="archiveTitle" 
                placeholder="Select a Budget"
                [selectionLimit]="1" 
                [showHeader]="false" 
                [style]="{'width': 'inherit'}"
                (onChange)="submitForm(archiveSelectionForm)"
            >
            </p-multiSelect>
        </div>    
    </form>
</div>

<div *ngIf="archiveSelected">
    <div class="flex justify-content-center">
        <p-selectButton styleClass="select-button-style" [(ngModel)]="selectedButtonOption" [options]="menuSelectOptions" optionLabel="label" optionValue="value"></p-selectButton>
    </div>
    
    <div class="flex justify-content-center">
        <div class="archive-info">
            <div class="archive-info__overall">
                <table>
                    <tr>
                        <th>Income</th>
                        <th>Budgeted</th>
                        <th>Spent</th>
                    </tr>
                    <tr>
                        <td>{{archiveSelected.income | currency}}</td>
                        <td [ngClass]="{'archive-info__overall--over-spent' : archiveSelected.totalBudgeted > archiveSelected.income}">{{archiveSelected.totalBudgeted | currency}}</td>
                        <td [ngClass]="{'archive-info__overall--over-spent' : archiveSelected.totalSpent > archiveSelected.totalBudgeted}">{{archiveSelected.totalSpent | currency}}</td>
                    </tr>
                </table>
            </div>
        </div>    
    </div>

    <div class="expenses" *ngIf="selectedButtonOption === 'expenses'">
        <h2 class="expenses__header">{{archiveSelected.archiveTitle}} Expenses</h2>
        <div class="expenses-table">
            <table class="expenses-table__body">
                <tr>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Name</th>
                    <th>Amount</th>
                </tr>
                <tr *ngFor="let expense of archiveSelected.expenses">
                    <td>{{expense.expenseDate}}</td>
                    <td>{{expense.expenseCategory}}</td>
                    <td>{{expense.expenseName}}</td>
                    <td>{{expense.expenseAmount | currency}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="budget" *ngIf="selectedButtonOption === 'budget'">
        <h2 class="budget__header">{{archiveSelected.archiveTitle}} Budget</h2>
        <div class="budget-table">
            <table class="budget-table__body">
                <tr>
                    <th>Category Title</th>
                    <th>Starting Value</th>
                    <th>Ending Value</th>
                    <th>Total Spent</th>
                </tr>
                <tr *ngFor="let subCategory of archiveSelected.budget">
                    <td>{{subCategory.subCategoryTitle}}</td>
                    <td>{{subCategory.startingValue | currency}}</td>
                    <td>{{subCategory.subCategoryValue | currency}}</td>
                    <td [ngClass]="{'budget-table__body--over-spent' : subCategory.subCategoryValue < 0}">{{subCategory.startingValue - subCategory.subCategoryValue | currency}}</td>
                </tr>    
            </table>
        </div>
    </div>
</div>
