<div class="flex justify-content-between align-items-center header-container">
    <h2>Add an Expense</h2>
    <fa-icon [icon]="faTimes" [style]="{'font-size': '1.5rem'}" (click)="closeModal()"></fa-icon>     
</div>

<div class="form-container">
    <div>
        <form [formGroup]="expenseForm" class="form-container__alignment">
            <label>Category</label>
            <p-multiSelect 
                formControlName="expenseCategory" 
                [options]="categoryOptions" 
                [filter]="false" 
                [showToggleAll]="false" 
                [showHeader]="false" 
                [selectionLimit]="1" 
                [style]="{'width' : '100%'}">
            </p-multiSelect>
            <label for="expenseName">Expense Name</label>
            <input 
                pInputText 
                type="text" 
                id="expenseName" 
                formControlName="expenseName"
                class="form-container--input-styles">
            <label for="expense-amount">Amount</label>
            <input 
                pInputText 
                formControlName="expenseAmount" 
                id="expense-amount" 
                type="number"
                class="form-container--input-styles">
        </form>  
        <div class="flex justify-content-end">
                <button 
                pButton 
                class="p-button-rounded submit-button" 
                label="Submit" 
                (click)="onFormSubmit(expenseForm)">
            </button>
        </div>    
    </div>
</div>