* {
    font-family: 'Alumni Sans', sans-serif;
}

.header-group {
    margin-top: 1rem;

    &--icon-size {
        font-size: 1.5rem;
    }
}

.form-group-container {
    display: grid;
    grid-template-columns: 1fr;
}

label {
    font-size: 1.2rem;
    margin-left: -0.3rem;
}

input {
    font-size: 1.2rem;
}

.button-group-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

::ng-deep {
    .scroll-panel-styles {
        .p-scrollpanel-bar.p-scrollpanel-bar-y {
            display: none;
        }
    }
}