<div class="header-group flex justify-content-between align-items-center">
    <h1>Add to your Budget</h1>
    <fa-icon 
        (click)="closeModal()" 
        [icon]="faTimes" 
        class="header-group--icon-size"
    >
    </fa-icon>
</div>
<form [formGroup]="budgetForm">
    <div class="form-group-container">
        <label class="col-12 label-styles" for="categoryTitle">New Category Title</label>
        <input 
            class="col-12 input-styles"
            pInputText 
            type="text"
            id="categoryTitle" 
            formControlName="categoryTitle"
        >
    </div>
        <div formArrayName="subCategory">
            <p-scrollPanel [style]="{'width': '100%', 'height': '185px'}" styleClass="scroll-panel-styles">
                <div 
                    *ngFor="let subCat of subCategories.controls; let i = index" 
                    [formGroupName]="i" 
                    class="grid col-12 grid-nogutter flex justify-content-between" 
                    style="padding: 0;"
                >
                    <div class="col-7">
                        <label class="col-12 label-styles" for="subCategoryTitle">Item Label</label>
                        <input 
                            class="col-12 input-styles" 
                            pInputText 
                            type="text"
                            id="subCategoryTitle" 
                            formControlName="subCategoryTitle"
                            appAutofocus
                        >    
                    </div>
                    <div class="col-3">
                        <label class="col-12 label-styles" for="subCategoryValue">Amount</label>
                        <input 
                            class="col-11 input-styles" 
                            pInputText 
                            type="number" 
                            name="subCategoryValue" 
                            id="subCategoryValue" 
                            formControlName="subCategoryValue"
                        >    
                    </div>
                    <div class="col-1 flex align-items-center">
                        <fa-icon 
                            (click)="deleteSubCategory(i)" 
                            [icon]="faTimes" 
                            class="col-12 delete-subCategory"
                        >
                        </fa-icon>
                    </div>
                </div>
            </p-scrollPanel>
        </div>        
</form>
<div class="button-group-container">
    <button 
        pButton
        class="p-button-rounded button-group__button" 
        (click)="addSubcategory()" 
        label="Add Subcategory">
    </button>    
    <button 
        pButton
        class="p-button-rounded button-group__button" 
        (click)= "onSubmit(budgetForm)" 
        label="Create">
    </button>
</div>