@use '/src/app/styles/primeNg-overrides';

* {
    font-family: 'Alumni Sans', sans-serif;
}

.header-group {
    margin-top: 1rem;

    &--icon-size {
        font-size: 1.5rem;
    }
}

.button-group {

    &__button {
        background-color: #001127;
        border: none;
        height: 1.5rem;
        font-size: 1.2rem;

        &:hover {
            background-color: #001127;
        }
    }
}

.delete-subCategory {
    font-size: 1.5rem;
    margin-top: 0.9rem;
}

.form-group-container {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 0.5rem;
}

.label-styles {
    font-size: 1.2rem;
    margin-left: -0.3rem; 
}

.input-styles {
    @include primeNg-overrides.pInputTextNoBorder;
    font-size: 1.2rem;
}

.button-group-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

::ng-deep {
    .scroll-panel-styles {
        .p-scrollpanel-bar.p-scrollpanel-bar-y {
            display: none;
        }
    }
}