.form-group-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;

    #categoryTitle {
        margin-bottom: 5px;
    }
}

.form-array-container {
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-gap: 5px;
}

.button-group-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}