<form [formGroup]="budgetForm">
    <div class="form-group-container">
        <label for="categoryTitle">New Category Title</label>
        <input id="categoryTitle" formControlName="categoryTitle">
    </div>
<div formArrayName="subCategory">
    <div *ngFor="let subCat of subCategories.controls; let i = index" [formGroupName]="i" class="form-array-container">
        <label for="subCategoryTitle">Item Label</label>
        <input id="subCategoryTitle" formControlName="subCategoryTitle">
    
        <label for="subCategoryValue">Amount</label>
        <input type="number" name="subCategoryValue" id="subCategoryValue" formControlName="subCategoryValue">
        <!-- <input id="subCategoryValue" formControlName="subCategoryValue">     -->
    </div>
</div>
</form>
<div class="button-group-container">
    <button (click)="addSubcategory()">Add New Subcategory</button>    
    <button (click)= "onSubmit(budgetForm)">OK</button>
</div>