@use '/src/app/styles/primeNg-overrides';

* {
    font-family: 'Alumni Sans', sans-serif;
}

.select-button-container {
    display: flex;
    justify-content: center;
    margin: 0.4rem 0 0.4rem 0;
}

.input-sizing {
    @include primeNg-overrides.pInputTextNoBorder;
    height: 2rem;
    font-size: 1.2rem;
}

.col-12 {
    padding: 0.2rem;
}

.button-group {
    margin: 0.5rem 0 0 0;
    float: right;

    &--button {
        background-color: #001127;
        border: none;
        font-size: 1.2rem;
    }
}

.form-container {
    height: 50%;
}

.labels {
    font-size: 1.2rem;
}

::ng-deep {

    .select-button-style {

        .p-button.p-highlight {
            background-color : #001127;
            border: solid 2px #001127;

            &:hover {
                background-color: #001127;
                border-color: #001127;
            }
        }
        .p-button {

            &:focus {
                box-shadow: none;
            }
        }
    }
}