* {
    font-family: 'Alumni Sans', sans-serif;
}

.login-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-top: 60%;
}