* {
    font-family: 'Alumni Sans', sans-serif;
}

.login-button-container {
    display: flex;
    justify-content: center;
    margin-top: 30vh;

    &:hover {
        cursor: pointer;
    }
}

.header-style {
    color: rgba(255, 255, 255, 0.765);
    margin-left: 1.5rem;
}