<div class="budget-component-container">
    <div class="header-container">
        <h1 class="header-container__text">Monthly Budget</h1>
        <fa-icon [icon]="faPlusCircle" class="header-container__add-icon" (click)="showModal()"></fa-icon>    
    </div>

    <div cdkDropList (cdkDropListDropped)= "drop($event)" class="budget-categories-container">
        <div class="budget-categories-container__category-wrapper" cdkDrag *ngFor="let budgetCat of budgetcategory; let i = index">
            <div class="budget-category-header-container">
                <h3 class="budget-category-header-container__category-title">{{budgetCat.categoryTitle.categoryTitle}}</h3>
                <h5 class="budget-category-header-container__balance-header">Remaining</h5>    
            </div>
            <hr>
            <div *ngFor="let subCat of budgetcategory[i].subCategory">
                <div class="budget-item-individual-expense-container">
                <h4 class="budget-item-individual-expense-container__item-title">{{subCat.subCategoryTitle}}</h4>
                <h4 class="budget-item-individual-expense-container__balance-remaining">${{subCat.subCategoryValue}}</h4>
                </div>
                <app-progress-bar [value]="testValue"></app-progress-bar>
            </div>
        </div>
    </div>
</div>
