%glass-background-dialogs {
    background: rgba( 33, 51, 73, 0.90);
    border: 1px solid rgba( 255, 255, 255, 0.30 );
    box-shadow: 0px 2px 7px black;
    border-radius: 5px;
}

%flex-space-between {
    display: flex;
    justify-content: space-between;
}

* {
    font-family: 'Alumni Sans', sans-serif;
}

.header-container {
    @extend %flex-space-between;

    &__text {
        margin: 0 0 0 1rem;
        font-size: 3rem;
        color: rgba(255, 255, 255, 0.765);
    }
    
    &__add-button {
        margin: 0.5rem 0.5rem 0 0 ;
        font-size: 1.2rem; 
        height: 1.5rem; 
        align-self: center; 
        background-color: #001127; 
        border: none; 
        box-shadow: none;
        
        &:hover {
            background-color: #001127; 
        }
    }
}

.budget-categories-container {
    display: grid;
    justify-items: center;
    grid-gap: 10px;

    &__category-wrapper {
        width: 80%;
        background: rgba( 255, 255, 255, 0.15 );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        border-radius: 5px;
        box-shadow: 0px 2px 7px black;
        color: rgba(255, 255, 255, 0.765);
    }
}

.budget-category-header-container {
    @extend %flex-space-between;

    &__balance-header {
        margin: 3px 5px 0 0;
        font-size: 1.4rem;
    }

    &__category-title {
        margin: 0 0 0 5px;
        font-size: 1.5rem;
    }
    
}

.budget-item-individual-expense-container {
    @extend %flex-space-between;
    flex-direction: row;
    margin-bottom: 5px;

    &__item-title {
        margin: 0 0 0 5px;
        font-size: 1.3rem;
    }

    &__balance-remaining {
        margin: 0 5px 0 0;
        font-size: 1.3rem;
    }
}

hr {
    margin-bottom: .4rem;
    height: .08rem;
    border: none;
    background-color: black;
}

.over-spent-color {
    color: red;
}

.p-scrollpanel {
    :host ::ng-deep &.customScrollStyles {
        .p-scrollpanel-wrapper {
            height: 520px;
        }
    }
}

::ng-deep {

    .dynamic-dialog-wrapper {

        .p-dialog-content {
            @extend %glass-background-dialogs;
            
            h2, h3, label, fa-icon {
                color: white;
            }
        }
    }

    .popup-menu-style {
        
        &.p-confirm-popup {
            @extend %glass-background-dialogs;
            color: white;
        }
    }

    .popup-menu-buttons {
        background-color : #001127;
        border: solid 2px #001127;   
        
        &.p-button {
            box-shadow: none;
            &:hover {
                background-color : #001127;
                border: solid 2px #001127;   
            }
        }
    }

    .p-menu-styling {

        &.p-menu-overlay {
            @extend %glass-background-dialogs;
            width: 60%;

            &:hover {
                background: rgba( 33, 51, 73, 0.90 );
            }

            .p-menuitem-text {
                color: rgba(255, 255, 255, 0.765);

            }

            .p-menuitem-link {

                &:focus {
                    box-shadow: none;
                }

                &:not(.p-disabled):hover {
                    background: none;

                    .p-menuitem-text {
                        color: rgba(255, 255, 255, 0.765);
                    } 
                    
                    .p-menuitem-icon {
                        color: rgba(255, 255, 255, 0.765);
                    }        
                }
            }
        }
    }
}