<div>
    <div class="header-container">
        <h1 class="header-container__text">Monthly Budget</h1>
        <button (click)="menu.toggle($event)" pButton label="Update Budget" class="p-button-rounded header-container__add-button"></button>
    </div>
    <div *ngIf="budgetCategories.length > 0" class="flex justify-content-start">
        <p-confirmPopup 
            [showTransitionOptions]="'100ms'" 
            [hideTransitionOptions]="'100ms'"
            styleClass="popup-menu-style">
        </p-confirmPopup>
        <button 
            (click)="confirmBudgetReset($event)" 
            pButton label="Reset" 
            class="p-button-rounded p-button-raised budget-reset__button">
        </button>
    </div>
    <p-menu #menu [popup]="true" [model]="menuItems" styleClass="p-menu-styling"></p-menu>   
    <div class="category-panel-container">
        <p-scrollPanel styleClass="custom-scroll-styles">
            <div class="budget-categories-container">
                <div class="budget-categories-container__category-wrapper" *ngFor="let budgetCat of budgetCategories; let i = index" 
                >
                    <div (click)="showMenu(i)">
                        <div class="budget-category-header-container">
                            <h3 class="budget-category-header-container__category-title">{{budgetCat.categoryTitle}}</h3>
                            <h5 class="budget-category-header-container__balance-header">Remaining</h5>    
                        </div>
                        <hr>
                        <div *ngFor="let subCat of budgetCategories[i].subCategory">
                            <div class="budget-item-individual-expense-container">
                            <p class="budget-item-individual-expense-container__item-title">{{subCat.subCategoryTitle}}</p>
                            <p [ngClass]="{'over-spent-color' : subCat.subCategoryValue < 0}" class="budget-item-individual-expense-container__balance-remaining">{{subCat.subCategoryValue | currency}}</p>
                            </div>
                            <app-progress-bar [value]="calcRemainingPercent(subCat)"></app-progress-bar>
                        </div>    
                    </div>
                    <div *ngIf="isMenuVisible === i" class="flex justify-content-center">
                        <div class="col-10 flex justify-content-around">
                            <button 
                                (click)="openBudgetEditModal(i)"
                                class="p-button-rounded p-button-raised button-group__button" 
                                pButton 
                                label='Edit'>
                            </button>
                            <button 
                                class="p-button-rounded p-button-raised button-group__button" 
                                (click)="hideMenu()" 
                                label='Cancel' 
                                pButton>
                            </button>    
                        </div>
                    </div>        
                </div>
            </div>
        </p-scrollPanel>    
    </div>
</div>
