.componentContainer {
    margin-top: 1rem;
}

.componentHeader {
    padding: 0;
    margin-bottom: 2%;
    text-align: center;
    text-decoration: underline;
}

.categoryHeader {
    margin-top: 1rem;
}

.labelStyle {
    display: inline-block;
    margin: .3rem 0 0 1%;
    padding: 0;
}

.inputDimensions {
    padding: .6rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}