* {
    font-family: 'Alumni Sans', sans-serif;
}

.overview-header-text {
    font-size: 3rem;
    margin: 0 0 0 1rem;
    color: rgba(255, 255, 255, 0.765);
}

.income-add-button {
    margin: 0.5rem 0.5rem 0 0 ;
    font-size: 1.2rem; 
    height: 1.5rem; 
    align-self: center; 
    background-color: #001127; 
    border: none; 
    box-shadow: none;
    
    &:hover {
        background-color: #001127; 
    }
}

.budget-overview-information-container {
    background: rgba( 255, 255, 255, 0.15 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.765);
    width: 70%;
    height: 160px;
    box-shadow: 0px 2px 7px black;
    border-radius: 5px;
}

.budget-income-overview-container {
    margin: 2rem .8rem 0 .8rem;

    &__children {
        line-height: 1.2em;
        height: 2.4em;
        overflow: hidden; 
        
        &--over-budget {
            color: red;
        }
    }
}

.expenses-header {
    margin: 5% 0 2% 15%;
    font-size: 2rem;  
    color: rgba(255, 255, 255, 0.765);  
}

.expenses-container {
    display: grid;
    grid-gap: 10px;
    justify-items: center;

}

.individual-expense {
    position: relative;
    height: 3.5rem;
    background: rgba( 255, 255, 255, 0.15 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0px 2px 7px black;
    border-radius: 5px;
    font-size: 25px;
    width: 95%;
    color: rgba(255, 255, 255, 0.765);

    &__button-group {
        display: flex;
        justify-content: center;
        position: absolute;
        height: inherit;
        width: 100%;
        &--alignment {
            height: inherit;
            width: 70%;
            display: inline-flex;
            justify-content: space-around;
            align-items: center;
        }
    }    

    &__label-container {
        display: grid;
        grid-template-columns: .6fr 2fr .5fr;
        align-content: center;
    }
}

.p-scrollpanel {

    :host ::ng-deep &.customStyles {

        .p-scrollpanel-bar {
            background-color: rgba(255, 255, 255, 0.765);
        }
    }
}

::ng-deep {

    .income-add-modal-container {

        .p-dialog-content {
            background: rgba( 33, 51, 73, 0.75 );
            border: 1px solid rgba( 255, 255, 255, 0.30 );
            box-shadow: 0px 2px 7px black;
            border-radius: 5px;
            color: white;        
        }
    }
}