$low-white: rgba(255, 255, 255, 0.765);
$darkBlueBlack: #001127;

* {
    font-family: 'Alumni Sans', sans-serif;
}

.overview-header-text {
    font-size: 3rem;
    margin: 0 0 0 1rem;
    color: $low-white;
}

.income-add-button {
    margin: 0.5rem 0.5rem 0 0 ;
    font-size: 1.2rem; 
    height: 1.5rem; 
    align-self: center; 
    color: black;
    background-color: $low-white;
    border: none; 
    box-shadow: none;
    
    &:hover {
        background-color: $low-white;
        color: black;
    }
}

.budget-overview-information-container {
    background: rgba( 255, 255, 255, 0.15 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    font-size: 1.5rem;
    color: $low-white;
    width: 70%;
    height: 10rem;
    box-shadow: 0px 2px 7px black;
    border-radius: 5px;
}

.budget-income-overview-container {
    margin: 2rem .8rem 0 .8rem;

    &__children {
        line-height: 1.2em;
        height: 2.4em;
        overflow: hidden; 
        
        &--over-budget {
            color: red;
        }
    }
}

.select-button-container {
    margin: 1rem 0 1rem 0;
}

.expenses-header {
    margin: 5% 0 2% 15%;
    font-size: 2rem;  
    color: $low-white;  
}

.expenses-container {
    display: grid;
    grid-gap: 10px;
    justify-items: center;

}

.individual-expense {
    position: relative;
    height: 3.5rem;
    background: rgba( 255, 255, 255, 0.15 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0px 2px 7px black;
    border-radius: 5px;
    font-size: 1.6rem;
    width: 95%;
    color: $low-white;

    &__button-group {
        display: flex;
        justify-content: center;
        position: absolute;
        height: inherit;
        width: 100%;

        &--alignment {
            height: inherit;
            width: 70%;
            display: inline-flex;
            justify-content: space-around;
            align-items: center;
        }
        &--button-delete {
            width: 5rem;
            height: 1.5rem;
            background-color: #3b2637;
            font-size: 1.4rem;
            border: none;
        }
        &--button-cancel {
            width: 5rem;
            height: 1.5rem;
            background-color: #011229;
            font-size: 1.4rem;
            border: none;
        }
    }    

    &__label-container {
        height: inherit;
        display: grid;
        grid-template-columns: .6fr 2fr .5fr;
        align-content: center;

        &--center {
            justify-self: center;
        }

        &--start {
            justify-self: start;
        }
    }
}

::ng-deep {

    .income-add-modal-container {

        .p-dialog-content {
            background: rgba( 33, 51, 73, 0.75 );
            border: 1px solid rgba( 255, 255, 255, 0.30 );
            box-shadow: 0px 2px 7px black;
            border-radius: 5px;
            color: white;        
        }
    }

    .scroll-styles {

        .p-scrollpanel-bar {
            background-color: rgba( 255, 255, 255, 0.15 );
        }

        .p-scrollpanel-wrapper {
            height: 320px;
            width: 100%;
        }
    }

    .select-button-style {

        .p-button.p-highlight {
            background-color : $darkBlueBlack;
            border: solid 2px $darkBlueBlack;

            &:hover {
                background-color: $darkBlueBlack;
                border-color: $darkBlueBlack;
            }
        }
        .p-button {

            &:focus {
                box-shadow: none;
            }
        }
    }
}