<h1 class="overview-header-text">Overview</h1>

<div class="flex justify-content-center">
    <div class="budget-overview-information-container">
        <div class="flex flex-column align-items-center">
            <p>Budget Remaining</p>
            <p>$3,000</p>
        </div> 
            <div class="budget-income-overview-container flex justify-content-between">
                <div class="budget-income-overview-container__children">
                    <div>
                        <p class="">Budgeted</p>
                        <p class="">$3,000</p>    
                    </div>
                </div>  
                <div class="budget-income-overview-container__children">     
                    <div>
                        <p class="">Income</p>
                        <p class="">$3,000</p>
                    </div>    
                </div>  
        </div>
    </div>
</div>
<h3 class="expenses-header">Most Recent Expenses</h3>
<div>
    <p-scrollPanel [style] = "{'width': '100%', 'height': '290px'}" styleClass="customStyles">
        <div class="expenses-container">
            <div *ngFor="let expense of individualExpenses" class="individual-expense"> 
                <div class="individual-expense__label-container" style="height: inherit;">
                    <p style="justify-self: center;">{{expense.expenseDate}}</p>
                    <p>{{expense.expenseCategory}}</p>
                    <p style="justify-self: start;">${{expense.expenseAmount}}</p>
                </div>
            </div>
        </div>
    </p-scrollPanel>
</div>