<div class="flex justify-content-between" style="margin: 1rem 0 1rem 0;">
    <h2>Archive this Month's Budget?</h2>
    <fa-icon 
        (click)="closeModal()" 
        [icon]="faTimes" 
        [style]="{'font-size': '1.2rem'}"
    >
    </fa-icon>   
</div>

<div *ngIf="!selectedYes" class="grid col-12 flex justify-content-around" style="margin-bottom: -1rem">
    <button 
        (click)="selectYes()" 
        pButton 
        class="col-5 p-button-rounded selection-button-group__button" 
        label="Yes" 
    >
    </button>
    <button 
        (click)="closeModal()" 
        pButton 
        class="col-5 p-button-rounded selection-button-group__button" 
        label="No" 
    >
</button>
</div>

<div 
    [formGroup]="archiveTitleForm" 
    *ngIf="selectedYes" 
    class="grid col-12"
    style="margin-bottom: -1rem;"
>
    <label class="col-12" style="font-size: 1.2rem;" for="archiveTitle">Name of Budget</label>
    <input 
        formControlName="budgetName" 
        class="col-12 input-styles" 
        type="text" 
        id="archiveTitle" 
        pInputText 
        appAutofocus
    >
    <div class="col-12 flex justify-content-end" style="padding: 0;">
        <button 
            (click)="submitForm(archiveTitleForm.value)" 
            class=
               "col-4 p-button-rounded 
                selection-button-group__button 
                selection-button-group__button--submit" 
            pButton 
            label="Submit"
        >
        </button>    
    </div> 
</div>