<div class="header flex justify-content-between align-items-center">
    <h2>Make Edits to your Budget</h2>
    <fa-icon [icon]="faTimes" [style]="{'font-size': '1.5rem'}" (click)="close()"></fa-icon>
</div>

<form [formGroup]="editForm">
    <div class="grid grid-nogutter col-12">
        <div class="col-7">
            <label 
                for="categoryTitle" 
                class="col-12">
                Category Title
            </label>
            <input 
                pInputText 
                id="categoryTitle"
                formControlName="categoryTitle" 
                type="text" 
                class="col-12"
            >
        </div>    
    </div>
    <p-scrollPanel [style]="{'width': '100%', 'height': '190px'}" styleClass="customScroll">
        <div formArrayName="currentCategories">
            <div *ngFor="let value of currentSubCats.controls; let i = index" [formGroupName]='i'>
                <div
                    class="grid col-12 grid-nogutter flex align-items-end" 
                    (click)="showDeleteButtonCurrent(i)"
                >
                    <div class="col-7">
                        <label class="col-12" for="title">Subcategory Title</label>
                        <input
                            formControlName='subCategoryTitle' 
                            pInputText 
                            class="col-12" 
                            id="title" 
                            type="text" 
                        >    
                    </div>
                    <div class="col-3">
                        <label 
                            class="col-10" 
                            style="margin-left: 0.5rem;" 
                            for="startingValue">
                            Value
                        </label>
                        <input
                            [style]="{'margin-left': '1rem'}" 
                            formControlName='startingValue'
                            pInputText 
                            class="col-10"  
                            id="startingValue" 
                            type="number" 
                        >    
                    </div>
                    <button 
                        *ngIf="isDeleteButtonVisibleCurrent === i"
                        pButton 
                        icon="pi pi-times"
                        (click)="deleteCurrentSubcategory(i)" 
                        class="col-1 p-button-rounded" 
                        [style]="{'width': '1.5rem', 'height': '1.5rem', 'background-color': '#426fef',
                        'font-size': '0.8rem', 'margin-left': '1rem'}"
                    >
                    </button>       
                </div>
            </div>    
        </div>
        <div formArrayName='newSubCategories'>
            <div *ngFor='let control of newSubCats.controls; let i= index' [formGroupName]="i">
                <div class="grid col-12 grid-nogutter flex align-items-end" (click)="showDeleteButtonNew(i)">
                    <div class="col-7">
                        <label class="col-12" for="title">Title</label>
                        <input 
                            class="col-12" 
                            pInputText 
                            formControlName="subCategoryTitle" 
                            type="text"
                        >    
                    </div>
                    <div class="col-3">
                        <label 
                            class="col-10" 
                            style="margin-left: 0.5rem;" 
                            for="startingValue">
                            Value
                        </label>
                        <input
                            [style]="{'margin-left': '1rem'}" 
                            class="col-10" 
                            pInputText 
                            formControlName="startingValue" 
                            type="number"
                        >    
                    </div>
                    <button
                        *ngIf="isDeleteButtonVisibleNew === i"
                        pButton 
                        icon="pi pi-times"
                        (click)="deleteNewSubcategory(i)" 
                        class="col-1 p-button-rounded" 
                        [style]="{'width': '1.5rem', 'height': '1.5rem', 'background-color': '#426fef',
                        'font-size': '0.8rem', 'margin-left': '1rem'}"
                    >
                    </button>       
                </div>
            </div>        
        </div>        
    </p-scrollPanel>
</form>
<div class="flex justify-content-between grid col-12">
    <button 
        pButton 
        (click)="onSubmit(editForm.value)"
        class="p-button-rounded"
        [style]="{'width': '4.5rem', 'height': '1.2rem', 'background-color': '#426fef', 'font-size': '0.7rem'}"
        label="Submit"
    >
    </button>
    <button 
        pButton 
        class="p-button-rounded"
        [style]="{'width': '4.5rem', 'height': '1.2rem', 'background-color': '#426fef', 'font-size': '0.7rem'}"
        (click)='addNewSubCategory()'
        label="Add"
    >
    </button>
    <button 
        pButton 
        (click)="deleteEntireCategory()" 
        label="Delete" 
        class="p-button-rounded p-button-danger" 
        [style]="{'width': '4.5rem', 'height': '1.2rem', 'font-size': '0.7rem'}"
    >
    </button>
</div>
