<div class="header flex justify-content-between align-items-center">
    <h1>Make Edits to your Budget</h1>
    <fa-icon [icon]="faTimes" [style]="{'font-size': '1.5rem'}" (click)="close()"></fa-icon>
</div>

<form [formGroup]="editForm">
    <div class="grid grid-nogutter col-12">
        <div class="col-7">
            <label 
                for="categoryTitle" 
                class="col-12">
                Category Title
            </label>
            <input 
                pInputText 
                id="categoryTitle"
                formControlName="categoryTitle" 
                type="text" 
                class="col-12 input-styles"
            >
        </div>    
    </div>
    <p-scrollPanel styleClass="custom-scroll">
        <div formArrayName="currentCategories">
            <div *ngFor="let value of currentSubCats.controls; let i = index" [formGroupName]='i'>
                <div class="grid col-12 grid-nogutter flex align-items-end" >
                    <div class="col-7">
                        <label class="col-12" for="title">Subcategory Title</label>
                        <input
                            formControlName='subCategoryTitle' 
                            pInputText
                            class="col-12 input-styles" 
                            id="title" 
                            type="text" 
                        >    
                    </div>
                    <div class="col-3">
                        <label 
                            class="col-10" 
                            style="margin-left: 0.5rem;" 
                            for="startingValue">
                            Value
                        </label>
                        <input
                            style="margin-left: 0.5rem;"  
                            formControlName='startingValue'
                            pInputText 
                            class="col-10 input-styles"  
                            id="startingValue" 
                            type="number" 
                        >    
                    </div>
                    <fa-icon (click)="deleteCurrentSubcategory(i)"  class="col-1 close-icon" [icon]="faTimes"></fa-icon>
                </div>
            </div>    
        </div>
        <div formArrayName='newSubCategories'>
            <div *ngFor='let control of newSubCats.controls; let i= index' [formGroupName]="i">
                <div class="grid col-12 grid-nogutter flex align-items-end">
                    <div class="col-7">
                        <label class="col-12" for="title">Title</label>
                        <input 
                            class="col-12 input-styles" 
                            pInputText 
                            formControlName="subCategoryTitle" 
                            type="text"
                            appAutofocus
                        >    
                    </div>
                    <div class="col-3">
                        <label 
                            class="col-10" 
                            style="margin-left: 0.5rem;" 
                            for="startingValue">
                            Value
                        </label>
                        <input
                            style="margin-left: 1rem;"  
                            class="col-10 input-styles" 
                            pInputText 
                            formControlName="startingValue" 
                            type="number"
                        >    
                    </div>
                    <fa-icon (click)="deleteNewSubcategory(i)" class="col-1 close-icon" [icon]="faTimes"></fa-icon>
                </div>
            </div>        
        </div>        
    </p-scrollPanel>
</form>
<div style="margin-top: 0.5rem;" class="flex justify-content-between grid col-12">
    <button 
        pButton 
        (click)="onSubmit(editForm.value)"
        class="p-button-rounded button-group__button"
        label="Submit"
    >
    </button>
    <button 
        pButton 
        class="p-button-rounded button-group__button"
        (click)='addNewSubCategory()'
        label="Add"
    >
    </button>
    <button 
        pButton 
        (click)="deleteEntireCategory()" 
        label="Delete" 
        class="p-button-rounded button-group__button" 
    >
    </button>
</div>
