@use '/src/app/styles/primeNg-overrides';
@use '/src/app/styles/global-mixins';

* {
    font-family: 'Alumni Sans', sans-serif;
}

.close-icon {
    font-size: 1.3rem;
    margin-left: 1rem;
}

.button-group {
    
    &__button {
        width: 4.5rem;
        height: 1.5rem;
        background-color: #001127;
        border: none;
        font-size: 1.2rem;
    }
}

label {
    font-size: 1.2rem;
    margin-left: -0.5rem;
}

.input-styles {
    @include primeNg-overrides.pInputTextNoBorder;
    height: 1.6rem;
    font-size: 1.2rem;
}

.header {
    margin: 1rem 0.5rem 0.5rem 0.5rem;
}

.p-scrollpanel {
    :host ::ng-deep &.customScroll {
        .p-scrollpanel-bar {
            background-color: #4270ef59;
        }
    }
}

::ng-deep {
    
    .custom-scroll {

        .p-scrollpanel-bar-y {
            background-color: #4270ef59;
        }

        .p-scrollpanel-content {
            width: 100%;
            height: 190px;
        }
    }
}