@media only screen and (max-width: 600px){
    .header-main-container {
        height: 50px;
        background-color: rgb(66, 111, 239);
            
        .sub-menu-container {
            display: flex;
            justify-content: center;
            float: right;
            margin: 0 10px 0 0;
            align-items: center;
            height: inherit;
    
            .sub-menu-header-icon {
                font-size: 1.6rem;
            }
        }
    }       
}